<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>file-icon.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>uPort Signed Data</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>me.uport.extension</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>me.uport</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ethereum</string>
				<string>me.uport</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>458</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>d727ebc9dbf0bbfb341f6ad2c33f118b18400891</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>chasqui.uport.me</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>faucet.ropsten.be</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>sensui.uport.me</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app does not require media library access</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app does not require Bluetooth access.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app does not require access to the Calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>Required to scan QR codes and for document and facial capture.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>uPort uses Face ID to confirm transactions.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app does not require location usage.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app does not require location usage.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app does not require microphone access.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app does not require your devices motion usage</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access to the photo library is needed to add a picture to your uport identity.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app does not require speech recognition</string>
	<key>UIAppFonts</key>
	<array>
		<string>Feather.ttf</string>
		<string>AntDesign.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Montserrat-Black.otf</string>
		<string>Montserrat-BlackItalic.otf</string>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-BoldItalic.otf</string>
		<string>Montserrat-ExtraBold.otf</string>
		<string>Montserrat-ExtraBoldItalic.otf</string>
		<string>Montserrat-ExtraLight.otf</string>
		<string>Montserrat-ExtraLightItalic.otf</string>
		<string>Montserrat-Italic.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-LightItalic.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-MediumItalic.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-SemiBoldItalic.otf</string>
		<string>Montserrat-Thin.otf</string>
		<string>Montserrat-ThinItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UIMainStoryboardFile</key>
	<string>Launch</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>uPort Signed Data</string>
			<key>UTTypeIdentifier</key>
			<string>me.uport.extension</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>uPort</string>
				<key>public.mime-type</key>
				<string>application/octet-stream</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
